.container {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  padding-left: 15rem;
  margin-top: 2.5rem;
}
.subContenet {
  display: flex;
  gap: 1vw;
  /* padding-left: 10vw; */
  align-items: center;
}
.subContenet img {
  width: 2vw;
}
.subContenet h1 {
  width: 50%;
  font-size: 1vw;
  font-weight: 600;
}
.subContenet .arrow {
  width: 10vw;
}
