.outerDiv {
  width: max-content;
  padding: 0.4rem 1.2rem;
  /* margin: 0.5rem; */
  border-radius: 50px;
  border: var(--brd1);
  text-decoration: none;
}

.label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-blueish-light1);
}
